@page "/"
@rendermode InteractiveServer
<!-- MENU-->
@foreach (var pizza in estado.Menu.Pizzas)
{
    <div class="row">
        <div class="col">
            @pizza.nombre
        </div>
        <div class="col text-right">
            @($"{pizza.precio:0.00}")
        </div>
        <div class="col"></div>
        <div class="col">
            <img src="@ImagenPicante(pizza.Picantes)"
                 alt="@pizza.Picantes" />
        </div>
        <div class="col">
            <button class="btn btn-success pl-4 pr-4"
                    @onclick="@(() => AgregarAlCarrito(pizza))">
                Add
            </button>
        </div>
    </div>
}
<!--END MENU-->

<!--COMPRAS-->
@if (estado.CarritoCompras.Ordenes.Any())
{
    <h1 class="">Your current order</h1>
    @foreach (var (pizza, pos) in estado.CarritoCompras.Ordenes.Select(
                (id, pos) => (estado.Menu.GetPizza(id), pos)))
    {
        <div class="row mb-2">
            <div class="col">
                @pizza.nombre
            </div>
            <div class="col text-right">
                @($"{pizza.precio:0.00}")
            </div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col">
                <button class="btn btn-danger"
                        @onclick="@(() => EliminarDelCarrito(pos))">
                    Remove
                </button>
            </div>
        </div>
    }
    <div class="row">
        <div class="col"></div>
        <div class="col"><hr /></div>
        <div class="col"> </div>
        <div class="col"> </div>
    </div>
    <div>
        <div class="col"> Total:</div>
        <div class="col text-right font-weight-bold"> @($"{estado.PrecioTotal:0.00}") </div>
         <div class="col"> </div>
         <div class="col"> </div>
         <div class="col"> </div>
    </div>

}
<!--FIN COMPRAS-->


<!--Cliente entry-->
<h1>Please enter your details below</h1>
<EditForm Model="@estado.CarritoCompras.Clientes" OnValidSubmit="PlaceOrder">
    <DataAnnotationsValidator />
    <ValidationSummary/>
    <fieldset>
        <div class="row mb-2">
            <label class="col-2" for="name">Name:</label>
            <InputText class="form-control col-6"
                   @bind-Value="@estado.CarritoCompras.Clientes.Nombre" />
        </div>
      
        <div class="row mb-2">
            <div class="col-6 offset-2">
                <ValidationMessage For="@(() => estado.CarritoCompras.Clientes.Nombre)" />
            </div>
        </div>

        <div class="row mb-2">
            <label class="col-2" for="street">Street:</label>
            <InputText class="form-control col-6"
                       @bind-Value="@estado.CarritoCompras.Clientes.Calle" />
        </div>

        <div class="row mb-2">
            <div class="col-6 offset-2">
                <ValidationMessage For="@(() => estado.CarritoCompras.Clientes.Calle)" />
            </div>
        </div>

        <div class="row mb-2">
            <label class="col-2" for="city">City:</label>
            <InputText class="form-control col-6"
                       @bind-Value="@estado.CarritoCompras.Clientes.Ciudad" />
        </div>

        <div class="row mb-2">
            <div class="col-6 offset-2">
                <ValidationMessage For="@(() => estado.CarritoCompras.Clientes.Ciudad)" />
            </div>
        </div>
        <button @onclick="PlaceOrder">Checkout</button>
    </fieldset>
</EditForm>

@estado.ToJson()
@code {
    private Estados estado { get; } = new Estados();
    protected override void OnInitialized()
    {
        estado.Menu.Agregar(
       new Pizzas(1, "Pepperoni", 8.99M, Picantes.Picante));
        estado.Menu.Agregar(
        new Pizzas(2, "Margarita", 7.99M, Picantes.None));
        estado.Menu.Agregar(
        new Pizzas(3, "Diabolo", 9.99M, Picantes.Caliente));
    }
    private string ImagenPicante(Picantes picantes) => $"images/{picantes.ToString().ToLower()}.jpeg";

    private void AgregarAlCarrito(Pizzas pizza) => estado.CarritoCompras.Agregar(pizza.Id);
    private void EliminarDelCarrito(int pos) => estado.CarritoCompras.EliminarAt(pos);

    private void PlaceOrder()
    {
        Console.WriteLine("Placing order");
    }
}
